---
sitemap: false
---

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-300.eot" | relative_url }}'); /* IE9 Compat Modes */
  src: local(""),
    url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-300.woff2" | relative_url }}')
      format("woff2"),
    /* Super Modern Browsers */
      url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-300.woff" | relative_url }}')
      format("woff");
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-regular.eot" | relative_url }}');
  src: local(""),
    url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-regular.woff2" | relative_url }}')
      format("woff2"),
    /* Super Modern Browsers */
      url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-regular.woff" | relative_url }}')
      format("woff");
}

/* text */

$body-font: "Open Sans Regular", "Verdana", "sans-serif";
$heading-font: "Open Sans Light", "Verdana", "sans-serif";

// Theme Colours

$light-background: #bec1b3;
$dark-text: #000000;
$light-link: #0d1d27;
$dark-link-hover: #163b52;

/* Image Heights */

$parallax-height: 350px;

/* Viewer proportions */

$viewer-height: 100%;
$max-width: 100%;

@import "bootstrap";
@import "facets";

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.full-width-gallery-layout {
  margin-left: -51vw;
  margin-right: -51vw;
}
